{% extends 'base.html' %}
{% load static %}
{% load media_tags %}

{% block content %}
    <a class="nav-item nav-link navigation-links add_button" href="{% url 'auth:user_create' %}"><i
            class="fa fa-plus"></i>
        Новый пользователь
    </a>
    <div class="users_list">
        {% for user in users %}
            <div class="container_box
                {% if not user.is_active %}
                    not_active
                {% endif %}
                {% if user.is_superuser %}
                    admin_highlight
                {% endif %}">
                <img class="block_avatar" src="{{ user.avatar|media_for_users }}" alt="{{ user.username }}">
                <div class="user_role">
                    {% if user.is_superuser %}
                        <h4>
                            <span class="text-danger">администратор</span>
                        </h4>
                    {% else %}
                        <h4>
                            пользователь
                        </h4>
                    {% endif %}
                    <br>
                    {{ user.username }}<br>
                    <br>
                    <a class="user_edit_button" href={% url 'authapp:user_update' user.pk %}>
                        редактировать
                    </a>
                    <br>
                    <a class="user_edit_button" href={% url 'authapp:user_delete' user.pk %}>
                        {% if user.is_active %}
                            удалить
                        {% else %}
                            восстановить
                        {% endif %}
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="pagi_div">
        <nav>
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">&laquo;</a>
                        </li>
                    {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
                    <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %} {% endfor %} {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&raquo;</a>
                    </li>
                {% endif %}
                </ul>
            {% endif %}
        </nav>
    </div>
{% endblock %}
