{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load media_tags %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="h2">
        Редактирование учетной записи
    </div>
    <form action="{% url 'auth:edit' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form|crispy }}
        <img src="{{ user.avatar|media_for_users }}" alt="avatar"/>
        <input class="auth_button" type="submit" value="Cохранить">
    </form>
{% endblock %}
