{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load media_tags %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="h2 text-center head">
        Редактирование учетной записи
    </div>
    <form id="edit-form" action="{% url 'auth:edit' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form|crispy }}
        <img src="{{ user.avatar|media_for_users }}" alt="avatar"/>
        <input class="auth_button" type="submit" value="Cохранить">
    </form>
{% endblock %}

{% block js_bottom %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
    <script src="{% static 'js/user_edit.js' %}"></script>
{% endblock %}
