{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% load static %}

{% block js %}
{% endblock %}


{% block content %}
    <div class="h2 text-center head">
        Регистрация
    </div>
    <div id="avatar-box"></div>
    <form id="reg-form" class="form-horizontal" action="{% url 'auth:register' %}" name="frm"
          method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="crispy-form">
            {{ form|crispy }}
        </div>
        <input class="auth_button" type="submit" value="Зарегестрироваться">
    </form>
{% endblock %}

{% block js_bottom %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
    <script src="{% static 'js/register.js' %}"></script>
{% endblock %}


