{% load static %}
<!DOCTYPE html>
{#{% load staticfiles %}#}
<html lang="ru-ru">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title|title }}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>


    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alice&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    {% block css %}

    {% endblock %}

    {% block js %}
    {% endblock %}

</head>


{#<div class="container">#}
{#    <div class="login_block">#}
{#        {% block menu %}#}
{#                {% include 'mainapp/includes/inc_menu.html' %}#}
{#        {% endblock %}#}
{#        {% block content %}#}
{#        {% endblock %}#}
{#    </div>#}
{#</div>#}
<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <h1>bookshelf</h1>
{#                    {% if current_user.is_authenticated %}#}
{#                        <h2>Привет, {{ current_user.username }}!</h2>#}
{#                    {% endif %}#}
                </div>
            </div>

            <div id="menubar">
                <ul id="menu">
                    {% include 'mainapp/includes/inc_menu.html' %}
{#                    <li class="selected"><a href="{{ url_for('main.home') }}">Заглавная</a></li>#}
{#                    {% if current_user.is_authenticated %}#}
{#                        <li><a class="nav-item nav-link navigation-links" href="{{ url_for('posts.allpost') }}"><i#}
{#                                class="fa fa-th"></i>Книги</a></li>#}
{#                        <li><a class="nav-item nav-link navigation-links" href="{{ url_for('posts.new_post') }}"><i#}
{#                                class="fa fa-plus"></i>Новая книга</a></li>#}
{#                    {% endif %}#}
                    {#                <li><a href="#">Обо мне</a></li>#}
                    {#                <li><a href="#">Контакты</a></li>#}
{#                    {% if current_user.is_authenticated %}#}
{#                        <li><a style="color: red" href="{{ url_for('users.account') }}">Профиль</a></li>#}
{#                        <li><a style="color: red" href="{{ url_for('users.logout') }}">Выйти</a></li>#}
{#                    {% else %}#}
{#                        <li><a style="color: red" class="login_a" href="{{ url_for('users.login') }}">Войти</a></li>#}
{#                        <li><a style="color: red" href="{{ url_for('users.register') }}">Зарегистрироваться</a></li>#}
{#                    {% endif %}#}
                </ul>
            </div>
        </div>
        <div id="site_content">
{#            <div class="sidebar">#}
{#                <h3>Последние новости</h3>#}
{#                <h4>New Website Launched</h4>#}
{#                <h5>July 1st, 2014</h5>#}
{#                <p>2014 sees the redesign of our website. Take a look around and let us know what you think.<br/><a#}
{#                        href="#">Read more</a></p>#}
{#                <p></p>#}
{#                <h4>New Website Launched</h4>#}
{#                <h5>July 1st, 2014</h5>#}
{#                <p>2014 sees the redesign of our website. Take a look around and let us know what you think.<br/><a#}
{#                        href="#">Read more</a></p>#}
{#                <h3>Полезные ссылки</h3>#}
{#                <ul>#}
{#                    <li><a href="#">link 1</a></li>#}
{#                    <li><a href="#">link 2</a></li>#}
{#                    <li><a href="#">link 3</a></li>#}
{#                    <li><a href="#">link 4</a></li>#}
{#                </ul>#}
{#                <h3>Поиск</h3>#}
{#                <form method="post" action="#" id="search_form">#}
{#                    <p>#}
{#                        <input class="search" type="text" name="search_field" value="Search"/>#}
{#                    </p>#}
{#                </form>#}
{#            </div>#}
            <div id="content">
{#                {% with messages = get_flashed_messages(with_categories=true) %}#}
{#                    {% if messages %}#}
{#                        {% for category, message in messages %}#}
{#                            <div class="alert alert-{{ category }}">#}
{#                                {{ message }}#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{#                {% endwith %}#}

                {% block content %}

                {% endblock %}
            </div>
        </div>
        <div id="footer">
            {{ time_footer }} | Copyright &copy; oz
            <br>
        </div>
    </div>
{#        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"#}
{#                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"#}
{#                crossorigin="anonymous"></script>#}
{#        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"#}
{#                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"#}
{#                crossorigin="anonymous"></script>#}
{#        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"#}
{#                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"#}
{#                crossorigin="anonymous"></script>#}
</body>
</body>
</html>
